body {
  background-color: #5a0f82;
  font-family: Arial, sans-serif;
}

.bg-purple {
  background-color: #5a0f82;
}

.btn-purple {
  background-color: #5a0f82;
  color: #f3ebeb;
  border: none;
}

.btn-purple:hover {
  background-color: #4a0a6a;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.container {
  max-width: 1100px;
}

h3 {
  color: #333;
}

.text-muted {
  color: #888;
}

img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.btnbtn-purple {
  text-align: center;
  justify-content: center;
  display: grid;
  display: flex;
  margin: auto;
  color: #0e0101;
}
.btnbtn-purple {
  background-color: #5a0f82;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnbtn-purple:hover {
  background-color: #4a0a6a;
}
.btn-btn-purple1 {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
