

<div class="wrapper ">
  <div class="sidebar">
    <div class="logo">My TO-DO APP</div>
    <nav class="nav flex-column">
      <a class="nav-link active" href="#">Home</a>
      
      <nav>
        <a class="nav-link" routerLink="/todo" routerLinkActive="active">Todo</a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </nav>
      
      
      
        
      </nav>
     
   
   
    
  </div>

  <!-- Main Content     <img
          src="app/assects/User.jpg"
          alt="Profile"
          class="rounded-circle"
        /> -->
  <div class="main-content">
    <div class="navbar-custom">
      <div class="search-bar">
        <input type="text" placeholder="Search" style="width: 1000px;">
        
      </div>
      
      <div class="profile">
        <i class="fas fa-bell yellow-bell"></i>
        <span><i class="fas fa-user"></i> Hello, Keerthi</span>
       
      </div>
      
    </div>
   

</div>

